
// Utils Variables
$body-color: black;
$blur-color: #C4C4C4;
$white: #FFFFFF;
$pink: #ff437e;
$blue: #000387;
$main-font: 'Roboto';
$montserrat: 'Montserrat';
$semibold: 600;
$purple: #8153f7;


* {
  font-family: $montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100vh;
  width: 100%;
  position: relative;
}

html {
  overflow: hidden;

  /* VIOLET
  background-image: -moz-linear-gradient( 130deg, rgb(197,230,255) 0%, rgb(233,243,255) 100%);
  background-image: -webkit-linear-gradient( 130deg, rgb(197,230,255) 0%, rgb(233,243,255) 100%);
  background-image: -ms-linear-gradient( 130deg, rgb(197,230,255) 0%, rgb(233,243,255) 100%);*/

  background-image: -moz-linear-gradient( 130deg, rgb(197,230,255) 0%, rgb(233,243,255) 100%);
  background-image: -webkit-linear-gradient( 130deg, rgb(197,230,255) 0%, rgb(233,243,255) 100%);
  background-image: -ms-linear-gradient( 130deg, rgb(197,230,255) 0%, rgb(233,243,255) 100%);

  /**
  background-image: -moz-linear-gradient( 130deg, rgb(185,227,254) 0%, rgb(250,253,255) 100%);
  background-image: -webkit-linear-gradient( 130deg, rgb(185,227,254) 0%, rgb(250,253,255) 100%);
  background-image: -ms-linear-gradient( 130deg, rgb(185,227,254) 0%, rgb(250,253,255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 );
  */

}
body {
  font-family: $main-font, Arial;
  color: $body-color;
  padding: 0;
  margin: 0;
}

// Main Page / Utils
#mainContainer, .utilContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}
#mainContainer {
  /*background-image: -moz-linear-gradient( 133deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -webkit-linear-gradient( 133deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -ms-linear-gradient( 133deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);*/
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 75%;
}

.center {
  text-align: center;
}

button {
  cursor: pointer;
}

button:focus {
  outline:0;
}

/*#startButton*/ button {
    border-color: #000;
    padding: 10px 25px;
    background-color: transparent;
}

/*#startButton:hover*/ button:hover {
    background-color: rgba(255,255,255,0.5);
}

/*#startButton:active*/ button:active {
    background-color: rgba(255,255,255,0.8);
}


// LaunchPage
#launchContainer {
  height: 100vh;
  width: 100%;
  z-index: 30;


}

.teamContainer.before {
  font-size: 28px;
  margin: auto;
}
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.teamContainer {
  @include center;
  color: $blue;
  text-transform: uppercase;
  h2 {
    font-size: 37px;
    font-weight: $semibold;
    margin-bottom: 10px;
    overflow: hidden;
  }
  p {
    font-size: 27px;
    margin-top: 0px;
  }

}



.presentation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 10px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  color: $blue;
  opacity: 0;
  h2 {
    font-size: 22px;
    font-weight: $semibold;
    margin-bottom: 10px;
    overflow: hidden;
  }
  p {
    font-size: 16px;
    margin-top: 0px;
  }

}

// HomePage
.titleContainer {
  @include center;
  font-size: 28px;
  margin: auto;
  text-transform: uppercase;
  width: 100%;
  > * {
    //opacity: 0;
  }
  h1 {
    color: $white;
    font-weight: $semibold;
    font-size: 96px;
    line-height: 1;
  }
  h2 {
    margin-top: -40px;
    font-size: 32px;
    padding: 0 20px;
    color: $blue;
  }
}
.context {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 850px;
  flex-flow: column;
  z-index: 100;
  left: 50%;
  text-align: center;
  line-height: 24px;
  //z-index: 1000;
  -webkit-transform: translateX(-50%) translateZ(0);
  -moz-transform: translateX(-50%) translateZ(0);
  -ms-transform: translateX(-50%) translateZ(0);
  -o-transform: translateX(-50%) translateZ(0);
  transform: translateX(-50%) translateZ(0);

  p {
    padding: 0 40px;
    box-sizing: border-box;
    font-size: 16px;
    color: $blue;
    line-height: 24px;
    margin-bottom: 65px;
    span {
      margin-bottom: 20px;
      display: inline-block;
    }
    strong {
      font-weight: $semibold;
    }
  }
}

.footerImage {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footerImage img {
  max-width: 80px;
  margin: 0 30px 10px 30px;
}

.btn {
  font-weight: $semibold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  text-decoration: none;
  padding: 15px 60px;
  border-radius: 60px;
  background-image: -moz-linear-gradient( 10deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -webkit-linear-gradient( 10deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -ms-linear-gradient( 10deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  position: relative;
}
.startButton {
  &:before {
    content: '';
    position: absolute;
    right: 30px;
    width: 12px;
    height: 18px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 9px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12.805px' height='18.805px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='1.87px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M2.935,0.935 L10.935,8.935 L2.935,16.935 '/%3E%3C/svg%3E");

  }
}


// FinishPage
#socialContainer img {
  max-width: 180px;
}


// App page
#moveContainer img {
  position: absolute;
}

img.moveScroll, img.moveDrag, img.pinInstruction {
  max-width: 150px;
  max-height: 85px;
}

#moveContainer img.moveScroll {
  bottom: 45%;
  right: 10%;
}

#moveContainer img.moveDrag {
  bottom: 25%;
  left: 10%;
}

#bubbleContainer {
  position: absolute;
  right: 36px;
  top: 25%;
  height: auto;
}

.bubble {
  list-style: none;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: relative;
  border: 2px solid $white;
  margin-bottom: 30px;

  &.active {
    background: white;
  }
  &.blur {
    background: transparent;
    border: none;
    &:before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      left: -43px;
      top: -45px;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='55px' height='56px'%3E%3Cdefs%3E%3Cfilter filterUnits='userSpaceOnUse' id='Filter_0' x='0px' y='0px' width='55px' height='56px' %3E%3CfeOffset in='SourceAlpha' dx='0' dy='0' /%3E%3CfeGaussianBlur result='blurOut' stdDeviation='4.583' /%3E%3CfeFlood flood-color='rgb(255, 255, 255)' result='floodOut' /%3E%3CfeComposite operator='atop' in='floodOut' in2='blurOut' /%3E%3CfeComponentTransfer%3E%3CfeFuncA type='linear' slope='1'/%3E%3C/feComponentTransfer%3E%3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23Filter_0)'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M27.000,22.571 C29.762,22.571 32.000,24.874 32.000,27.714 C32.000,30.555 29.762,32.857 27.000,32.857 C24.239,32.857 22.000,30.555 22.000,27.714 C22.000,24.874 24.239,22.571 27.000,22.571 Z'/%3E%3C/g%3E%3C/svg%3E");
    }

  }
}

.bubbleSeparator {
  transform: rotate(90deg);
  height: 1.4px;
  background: $body-color;
  border: 0;
}

#help-modal .modalDisplay div {
  width: 33%;
  text-align: center;
  margin: 20px;
}

#buttonContainer {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

// Modal App
.modalContainer {
  display: none;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
}

.modalDisplay {
  display: flex;
  margin: 20px;
}

.closeButton {
  float: right;
  margin-top: -30px;
  margin-right: -30px;
  font-size: 28px;
  font-weight: bold;
  position: inherit;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background-color: #C4C4C4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.simpleMargin{
  margin-bottom: 40px;
}
.round {
  background-image: -moz-linear-gradient( -130deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -webkit-linear-gradient( -130deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -ms-linear-gradient( -130deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);

  width: 40px;
  height: 40px;
  display: block;

}
.cls-1 {
  stroke-dasharray: 370;
  stroke-dashoffset: 370;
}
.loading__number {
  color: $blue;
  margin-top: 30px;
  font-weight: $semibold;
  font-size: 50px;
}
.loading {
  background-image: -moz-linear-gradient( 133deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -webkit-linear-gradient( 133deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  background-image: -ms-linear-gradient( 133deg, rgb(129,83,247) 0%, rgb(39,221,255) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
}
.loading-svg {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
}
.loading__number {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
}

.shadow__island {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  background-image: url('../images/shadow.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  max-height: 800px;
  max-width: 642px;
  width: 100%;

}


// Section Panel

.panel-drag {

  width: 276px;
  max-width: 276px;
  height: 58px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(0);
  -moz-transform: translateX(-50%) translateZ(0);
  -ms-transform: translateX(-50%) translateZ(0);
  -o-transform: translateX(-50%) translateZ(0);
  transform: translateX(-50%) translateZ(0);
  backface-visibility: hidden;

  .points {
    .point {

      background: $purple;
      position: absolute;

      -webkit-animation: a 1.5s ease-in-out 1.5s infinite normal;
      animation: a 1.5s ease-in-out 1.5s infinite normal;

      -webkit-keyframes a{
        0%{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0);
        }
        20%{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0.8);
        }
        80%{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0.8);
        }
        to{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0);
        }
      }
      @keyframes a{
        0%{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0);
        }
        20%{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0.8);
        }
        80%{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0.8);
        }
        to{
          box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0);
        }
      }


      &:nth-of-type(1) {
        top: 0;
        left: 0;
        -webkit-animation-delay: .43934s;
        animation-delay: .43934s;

      }
      &:last-of-type {
        top: 0;
        right: 0;
        -webkit-animation-delay: .43934s;
        animation-delay: .43934s;
      }
      &:nth-of-type(1), &:last-of-type {
        border-radius: 9px;
        width: 9px;
        height: 9px;
      }

      &:nth-of-type(2) {
        border-radius: 11px;
        width: 11px;
        height: 11px;
        top: 36%;
        left: 15.5%;
        box-shadow: 0px 0px 17.22px 3.78px rgba(129, 83, 247, 0.8);
        -webkit-animation-delay: .20096s;
        animation-delay: .20096s;

      }

      &:nth-of-type(3) {
        border-radius: 13.5px;
        width: 13.5px;
        height: 13.5px;
        top: 56.8%;
        left: 30.7%;
        -webkit-animation-delay: .05111s;
        animation-delay: .05111s;
      }
      &:nth-of-type(4) {
        border-radius: 14px;
        width: 14px;
        height: 14px;
        left: calc(50% - 7px);
        bottom: 0;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }
      &:nth-of-type(5) {
        border-radius: 13.5px;
        width: 13.5px;
        height: 13.5px;
        top: 56.8%;
        right: 30.7%;
        -webkit-animation-delay: .05111s;
        animation-delay: .05111s;
      }

      &:nth-of-type(6) {
        border-radius: 11px;
        width: 11px;
        height: 11px;
        top: 36%;
        right: 15.5%;
        -webkit-animation-delay: .20096s;
        animation-delay: .20096s;
      }

    }
  }
  .drag-text {
    font-family: $montserrat;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    color: $purple;
    position: relative;
    top: 80px;
    text-align: center;
  }
}

.panel-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0;
  p {
    font-size: 16px;
    line-height: 24px;
    font-family: $montserrat;
    font-weight: 300;
    text-transform: uppercase;
    color: $purple;
    text-align: center;
  }

}
.panel-clic {

  position: absolute;
  left: 10%;
  top: 50%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  p {
    font-size: 14px;
    font-family: $montserrat;
    font-weight: 300;
    text-transform: uppercase;
    color: $purple;
    max-width: 190px;
    margin-right: 30px;
    text-align: center;
  }
  .clic-group {
    position: relative;
    .cursor {
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 28 28' style='enable-background:new 0 0 28 28;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%238153F7;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,20.7c0-0.4,0.2-0.8,0.4-1L5.2,15l-4.2-4.2c-0.6-0.6-0.6-1.5,0-2.1c0.2-0.2,0.4-0.3,0.6-0.4l24.6-8.1 c0.8-0.3,1.6,0.2,1.9,0.9C28,1.4,28,1.7,27.9,2l-8.3,24.4c-0.3,0.8-1.1,1.2-1.9,0.9c-0.2-0.1-0.4-0.2-0.6-0.4L13,22.8l-4.7,4.7 c-0.6,0.6-1.5,0.6-2.1,0c0,0,0,0,0,0l-5.8-5.8C0.2,21.5,0,21.1,0,20.7z M8.7,15c0,0.4-0.2,0.8-0.4,1l-4.7,4.7l3.7,3.7l4.7-4.7 c0.6-0.6,1.5-0.6,2.1,0c0,0,0,0,0,0l3.6,3.6l6.6-19.4L4.7,10.3l3.6,3.6C8.5,14.2,8.7,14.6,8.7,15z'/%3E%3C/svg%3E%0A");
      width: 28px;
      height: 28px;
      z-index: 100;
      position: absolute;
      left: -10px;
      top: 23px;
    }
    .cursor-transparent {
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 28px;
      height: 28px;
      z-index: 80;
      position: absolute;
      left: -10px;
      top: 23px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 28 28' style='enable-background:new 0 0 28 28;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E4F1FF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,20.7c0-0.4,0.2-0.8,0.4-1L5.2,15l-4.2-4.2c-0.6-0.6-0.6-1.5,0-2.1c0.2-0.2,0.4-0.3,0.6-0.4l24.6-8.1 c0.8-0.3,1.6,0.2,1.9,0.9C28,1.4,28,1.7,27.9,2l-8.3,24.4c-0.3,0.8-1.1,1.2-1.9,0.9c-0.2-0.1-0.4-0.2-0.6-0.4L13,22.8l-4.7,4.7 c-0.6,0.6-1.5,0.6-2.1,0c0,0,0,0,0,0l-5.8-5.8C0.2,21.5,0,21.1,0,20.7z'/%3E%3C/svg%3E%0A");
    }

    @-webkit-keyframes opacity {
      0%   { opacity: 0; }
      50%   { opacity: 1; }
      100% { opacity: 0; }
    }

    @keyframes opacity {
      0%   { opacity: 0; }
      50%   { opacity: 1; }
      100% { opacity: 0; }
    }
    .circles {

      width: 42px;
      height: 42px;
      position: relative;
      .circle {
        opacity: 0;
        -webkit-animation: opacity 2s infinite;
        -moz-animation:    opacity 2s infinite;
        -o-animation:      opacity 2s infinite;
        animation:         opacity 2s infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        &:nth-of-type(1) {
          border: 1px solid $purple;
          width: 42px;
          height: 42px;
          border-radius: 42px;
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
        }
        &:nth-of-type(2) {
          border: 2px solid $purple;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          -webkit-animation-delay: .43934s;
          animation-delay: .43934s;
        }
        &:nth-of-type(3) {
          border: 3px solid $purple;
          width: 17px;
          height: 17px;
          border-radius: 17px;
          -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
        }
      }


    }
  }
}

.panel-information {
  position: absolute;
  right: 30px;
  top: 30px;
  ul {
    li {
      display: inline-block;

      &.sound {
        margin-right: 25px;
        width: 30px;
        height: 25px;

      }
      &.social {
        margin-right: 25px;
        width: 19px;
        height: 23px;
      }

      &#help-icon {
        width: 39px;
        height: 39px;
        border-radius: 50px;
        border: 1px solid $purple;
        font-family: $montserrat;
        cursor: pointer;
        color: $white;
        font-size: 20px;
        position: relative;
        top: 10px;
      }
      &#help-icon p {
        margin: auto;
        color: $purple;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        font-weight: bold
      }
    }
  }
}
.panel-exit {
  position: absolute;
  top: 50%;
  left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    width: 51px;
    height: 51px;
    display: inline-block;
  }
  p {
    margin-left: 30px;
    display: inline-block;
    font-size: 14px;
    font-family: $montserrat;
    font-weight: 500;
    color: $purple;
    text-transform: uppercase;
  }
}

// TODO : WORK ON
/*#loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay-hidden {
  display: none !important;
}

#loading-bar {
  width: 25em;
  height: 1em;
  border-radius: 0.25em;
  background-color: black;
  border: 1px solid grey;
  display: inline-flex;
}

#progress {
  background-color: #75b800;
  height: inherit;
  border-radius: inherit;
  width: 5%;
}*/
